hr {
	border-style: solid;
	border: 5px 
	color: #222222;
}
body {
	background: #F6F6F6;
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
}
h1 {
	font-family: cursive, fantasy, sans-serif;
	color: white;
	background-color: #000080;
	border-style: solid double;
	border-color: black;
}
.nav ul{
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 23px;
}
li a{
	display: block;
	color: #000;
	padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
h2 {
	font-family: fantasy, arial, times;
	text-decoration: underline;
}
h3 {
	color: #000080;
	font-style: oblique;
	font-size: 18px;
	text-decoration: none;
}
p {
	font-family: "Georgia", arial, helvetica; 
	color: #05080C;
}
img {
	float: center;
	margin-left: 4px;
	margin-right: 6px;
	border-style: solid double;
	border-color: black;
	/*Originally img was 'float: right;' but changed that to match the rest of the page's style*/
	
	/*text-align:center; 
	line-height:1.2em; 
	font-size:135%; 
	font-weight:bold;">Xia</img*/
}
table {
	border-spacing: 4px;
	empty-cells: hide;
	font-size: 18px;
	background-color: #000080;
	width: 100%
}
th {
	background-color: #222222;
	color: white;
	font-family: monospace, helvetica, arial;
	table-layout: auto;
	height: 50px;
}
td {
	background-color: #eeeeee;
	color: #483D8B;
}
div {
	text-align: left;
}
footer {
	background-color: #000080;
	color: white;
	font-style: italic;
}