* {
	box-sizing: border-box;
}
body {
	background-color: orange;
	font-size: 18px;
}
.box {
	border: 1px solid black; 
	background: #ccc;
	padding: 30px;
	margin: 1rem;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
/*.t_contents {

}
*/
.content_area {
	background: blue;
	padding: 10px;
	overflow: auto;
	margin: 0 16px;
}
.nav {
	float: left;
	width: 30%;
}
.content_main {
		float: left;
		width: 75%;
}
.sidebar {
		float: left;
		width: 19%;
} 
.ftr {
	clear: both;
}
