body {
	background-color: #aaa;
	width: 960px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	cursor: auto;
}
strong {
	font-weight: bold;
	text-transform: uppercase;
}
.logo h1 a {
	font-weight: bold;
	font-style: oblique;
	color: #42f483;
	margin: 10px;
}
.nav li {
	display: inline-block;
	margin-right: 40px;
	font-size: 25px;
	font-family: 'Oswald';
}
.nav a {
	color: white;
}
.nav ul {
	width: 850px;
	float: right;
}
.header {
	background-color: black;
	overflow: auto;
	padding: 8px;
}
.logo {
	margin: 0 auto;
	font-size: 32px;
	font-family: 'Merriweather', serif;
	color: white;
}
.tagline {
	background-color: #d0d4db;
	text-align: center;
}
.tagline h2 {
	color: black;
	font-style: oblique;
	margin: 0 auto;
	padding: 20px;
}
.use {
	border-bottom: solid thin;
	font-weight: bold;
}
.negative {
	text-decoration: line-through;
}
.content {
	background-image: url('http://www.popsci.com/sites/popsci.com/files/styles/large_1x_/public/images/2017/01/zombie.jpg?itok=_c9fX7ke&fc=50,50');
	background-size: cover;
	overflow: auto;
	height: 400px;
}
.box {
	background-color: rgba(255,255,255,0.65);
	width: 300px;
	padding: 30px;
	box-shadow: 0 0 30px #333;
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.box h2 {
	margin-top: 0;
	color: #295b66;
}
.box a {
	background-color: #42f483;
	text-transform: uppercase;
	color: black;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
    display: block;
    text-align: center;
    box-shadow: 0 -3px 0 rgba( 0, 0, 0, 0.2);
    transition-property: box-shadow;
    transition-duration: 200ms;
}
.bottombox {
    display: inline-flex;
    background-color: rgba(255,255,255,0.95);
    margin: 0 auto;
    padding: 0 40px;
    /*border-right: : solid lightgray 1px;  need to fix the overflow and sizing before this will work*/
}
.bottombox h2 {
	color: #295b66;
	margin: 1px;
}
.bottombox a {
	background-color: #d0d4db;
	text-transform: uppercase;
	color: black;
	padding: 15px;
	margin: 15px;
	border-radius: 5px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
    display: block;
    text-align: center;
    box-shadow: 0 -3px 0 rgba( 0, 0, 0, 0.2);
    transition-property: box-shadow;
    transition-duration: 200ms;
    display: inline-flex;
}
footer {
	background-color: black;
	overflow: auto;
	padding: 8px;
}
footer p {
	color: white;
}

